# Convert SROIE receipt images to text

In [15]:
# convert images to text with OCR
from PIL import Image
import pytesseract
pytesseract.pytesseract.tesseract_cmd = r'C:\Users\Admin\AppData\Local\Programs\Tesseract-OCR\tesseract'

In [19]:
beforeProcessText = pytesseract.image_to_string(Image.open('1004-receipt.jpg'))

In [17]:
# Basic image precprocessing for better accuracy OCR
import cv2
img = cv2.imread("1004-receipt.jpg")
img = cv2.medianBlur(img,5)
img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
img = cv2.adaptiveThreshold(img, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 11, 2)

# cv2.imshow('',img) 
# cv2.waitKey()
text = pytesseract.image_to_string(img)

In [20]:
beforeProcessText

'bee BOWL TERIYAKI\n. 610 GARFIELD AVE.\nS UTH GATE, CA. 90280\n\nTEL: (882) g28-s9g9\n\nREG O&-18-2019 11:19 AM\nManager1 MC #01 000141\n\nORDER# oOoOOoO141\n\n1 #1 CHKN PLATE $9.39\n1 + AVOCADO $1.95\n1 MD. DRINK $2.29\n*KHE RE:\n\nane $1.40\nTOTAL. $1IS.03\nCASH $20. 00\nCG ited\n\n'

In [18]:
text

'SOLOEN BOWL TERIYAKI\n\na 8010 GARFIELD AVE.\n=" SOUTH GATE, ’ca. G0280\nAy FEL: ($82) 920-8989\n\n-{{ REG 05-18-2019 11:19AM\ni Managert MC 804 ~ 90014)\n\n‘ORDER 000141\n\n1 81° CHKN-PLATE $9.39\n\n1 + AVOCADO’ $1.9\n\n1.MO. ORINK S00»\n*KHERE\n\n'

In [31]:
# Loop all images 
import os
import pandas as pd
from os import listdir
 
# get the path/directory
# folder_dir = "C:/Users/Admin/Desktop/Degree Level 3 Sem 2/FYP/Project stuff/ML model/SROIE dataset/SROIE2019/train/img"
folder_dir = "C:/Users/Admin/Desktop/Degree Level 3 Sem 2/FYP/Project stuff/ML model/SROIE dataset/SROIE2019/test/img"
df = pd.DataFrame()
for files in os.listdir(folder_dir):
 
    # check if the files ends with png
    if (files.endswith(".jpg")):
        img = cv2.imread(folder_dir + "/" + files)
        img = cv2.medianBlur(img,5)
        img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
        img = cv2.adaptiveThreshold(img, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 11, 2)
        text = pytesseract.image_to_string(img)
        df = df.append({'name':files, 'text':text}, ignore_index=True)
        
# Remove the.jpg file extension
df['name'] = df['name'].apply(lambda x: x[:-4])
# df.to_csv(r'SROIE_train.csv', index=False)
df.to_csv(r'SROIE_test.csv', index=False)
df.head()

           name                                               text
0  X00016469670  tan chay yee\n\n#22 COPY te\nOXL MARKETING $01...
1  X00016469671  tan chay yee\n\nOX MARKETING SDN BO\nROK WO: $...
2  X51005200931  MES TAA Pai to\n\ntr Se ee\nTe ok wrt\nty .\nw...
3  X51005230605
4  X51005230616  Bose\n499°\n\ncerbang Aaf Restaurants Son Ghd\...

# Merge the datas with categorised data

In [40]:
df = pd.read_csv("SROIE_train.csv")
df.head()

           name                                               text
0  X00016469612  tan woon yann\n\nROOK TAM (TAMAH OAYA)SON BNO ...
1  X00016469619  tan woon yann\n\nshee GAs $M\nTP datas ERP 13,...
2  X00016469620  “tan woon yann\n~\n\nAOT tghh-k\ncaegae é\n122...
3  X00016469622  tan woon yann\n\nYONGFATT ENTERPRISE\nune tid:...
4  X00016469623  av\n\noat ¥\n\ntan woon yann --\n\nG.b.Y, Up S...

In [41]:
df1 = pd.read_csv("categorised_train.csv")
df1.head()

           name category
0  X00016469612  General
1  X00016469619  General
2  X00016469620  General
3  X00016469622  General
4  X00016469623  General

In [44]:
complete_train = pd.merge(df, df1, on="name")
complete_train.to_csv(r'complete_train.csv', index=False)

In [51]:
# Merge test dataset
df = pd.read_csv("SROIE_test.csv")
df1 = pd.read_csv("categorised_test.csv")
df1['name'] = df1['name'].apply(lambda x: x[:-4])
complete_test = pd.merge(df, df1, on="name")
complete_test.to_csv(r'complete_test.csv', index=False)